
<header>
    <h1>Theme homepage header</h1>
</header>

<div class="container pb-5 mb-5">   
    <div class="row ml-0 mr-0 pt-5">
        <div class="col-xs-12 col-md-12">
            <p>
                Please copy <pre>theme/bootstrap4/layouts/partials/homepage.html</pre>
            </p>
            <p>to</p>
            <p>
                <pre>layouts/partials/homepage.html</pre>
            </p>
            <p>
                And customize it's content.
            </p>

            <p>After following line is content of <pre>_index.md</pre></p>
            <hr>
            {{ .Content }}
        </div>
    </div>
</div>
