<footer class="footer pb-4">
    <div class="container pt-4 mb-0">
        <div class="row">
            <div class="col-md-3 socials">
                {{ partial "base/footer_social" . }}
            </div>
            <div class="col-md-2">
                {{ partial "base/footer_navigate" . }}
            </div>
            <div class="col-md-7">
                {{ partial "footer_excerpt" . }}
            </div>
        </div>
        <div class="row">
            {{ partial "base/footer_menu" . }}
        </div>
    </div>
</footer>
