
<script src="{{ "assets/js/jquery-3.2.1.min.js" | relURL }}"></script>
<script src="{{ "assets/js/popper/1.12.3/popper.min.js" | relURL }}"></script>
<script src="{{ "assets/js/highlight-9.12.0.pack.js" | relURL }}"></script>

<script>hljs.initHighlightingOnLoad();</script>

{{ with .Site.DisqusShortname }}
<script id="dsq-count-scr" src="//{{ . }}.disqus.com/count.js" async></script>
{{ end }}

<script src="{{ "js/script.js" | relURL }}"></script>

{{ template "_internal/google_analytics_async.html" . }}

