
<script src="{{ "assets/js/jquery-3.2.1.min.js" | relURL }}"></script>
<script src="{{ "assets/js/popper/1.12.3/popper.min.js" | relURL }}"></script>
<script src="{{ "assets/js/highlight-9.12.0.pack.js" | relURL }}"></script>
<script src="{{ "assets/twitter-bootstrap/4.0.0/js/bootstrap.min.js" | relURL }}"></script>

<script>hljs.initHighlightingOnLoad();</script>

{{ with .Site.DisqusShortname }}
<script id="dsq-count-scr" src="//{{ . }}.disqus.com/count.js" async></script>
{{ end }}

<script src="{{ "js/script.js" | relURL }}"></script>

{{ with .Site.Params.googleAnalytics }}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ . }}');
</script>

{{ end }}